<div id="passwordSet">

    <div style="width: 80px">新密码：</div>
    <input type="password" v-model="newPassword"><br/>
    <div style="width: 80px">确认密码：</div>
    <input type="password" v-model="rePassword"><br/>
    <button class="layui-btn layui-btn-radius" style="margin-top: 20px" @click.prevent="submit">确认修改</button>




</div>
<script>

    var passwordSet = new Vue({
        el:"#passwordSet",
        data:{
            newPassword:"",
            rePassword:""
        },
        methods:{
            submit(){
                if(this.newPassword!=""&&this.newPassword===this.rePassword){
                    axios({
                        method:"put",
                        url:"../admin",
                        data:{
                            m_password: this.newPassword
                        }
                    }).then(response=>{
                        alert("修改成功");
                        window.location.href="login.html"
                    })
                }
                alert("输入不合法或两次密码不一致");
            }
        }

    })

</script>