a {
    display: block;
    color: #333;
}
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}

a:hover {
    color: #fd4c5d;
}
/* 导航 */
.header-nav {
    position: relative;
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
.header-nav__fixed {
    position: fixed;
    left: 0;
    top: 48px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.header-nav .nav-wrap {
    margin-bottom: 20px;
}
.header-nav .nav-item {
    float: left;
    line-height: 46px;
    margin-right: 50px;
    padding: 0 6px;
    font-size: 14px;
    text-decoration-line: none;
}
.header-nav .nav-cur {
    color: #fd4c5d;
    border-bottom: 3px solid #fd4c5d;
}
.header-nav .nav-rank {
    float: right;
    line-height: 46px;
    font-size: 14px;
}
.header-nav .nav-rank .icon-rank {
    color: #fd4c5d;
    font-size: 14px;
}
.header-nav .nav-hover {}
.header-nav .subNav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
}
.header-nav .subNav-item {
    position: absolute;
    display: none;
}
.header-nav .subNav-item:first-child {
    padding-left: 6px;
}
.header-nav .subNav-item a {
    float: left;
    margin-right: 32px;
    line-height: 40px;
}
.header-nav .subNav-item a:last-child {
    margin: 0;
}

.main{
    width: 80%;
    margin: auto;
    clear: both;
}

.type-block{
    width: 100%;
    height: 300px
}

[v-cloak] {
    display: none;
}

.bigCourseTypeTitle{
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
    border-bottom: 2px solid grey;
}
.bigCourseTitle{
    margin-bottom: 8px;
    float: left;
    font-size: 18px;
    display: inline;
}
.toAllCourse{
    text-decoration: none;
    display: inline;
    float: right;
}
