#main{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: auto;
}


.oneFloor{
    height: 100px;
    width: 100%;
}
.headerAndTime{
    float: left;
    width:75%;
}
.authInfo{
    float: right;
    width: 23%;
    padding-top: 25px;
}
.headPortrait{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    border: 1px solid #C0C0C0;
}
.courseAuthDescription{
    float: bottom;
    margin-top: 15px;
}
[v-cloak]{
    display: none;
}

.twoFloor{
    width: 100%;
    height: 500px;
}
#myVideo{
    width: 750px;
    height: 480px;
    float: left;
}
.playList{
    height: 480px;
    width: 23%;
    float: right;
    margin-left: 10px;
    border: 2px solid darkgrey;
    overflow:auto
}
.buttonInList{
    width: 100%;
    height: 35px;
    white-space:nowrap;
}

.threeFloor{
    width: 100%;
    height: auto;
}
.abstractAndComment{
    width: 75%;
}
.abstract{
    width: 100%;
    height: 100px;
    overflow: auto;
}